.logo {
  width: 100px;
  mix-blend-mode: multiply;
}

.logo_conteiner {
  background-color: pink;
  height: 110px;
  border-radius: 5px;
  position: fixed;
  top: 0; /*fixo no todo */
  left: 0;
  width: 100%;
  z-index: 1;
}

.titulo {
  z-index: 2;
  top: 10px; /* Ajusta pra cima e pra baixo */
  left: 110px; /* Ajuste esquerdo e direito */
  position: fixed;
  color: #333;
}

.bolsa {
  width: 102%;
  height: 400px; /* pode ajustar: 280 / 300 / 350 */
  background-image: url("img/bolsa.jpg");
  background-size: cover; /* ISSO é o segredo */
  background-position: center; /* centraliza a bolsa */
  background-repeat: no-repeat;

  border-radius: 5px;
}

.shop {
  position: fixed; /* Fica fixo na tela */
  z-index: 1000; /* Fica na frente */
  top: 5%; /* Começa no meio vertical */
  left: 60%; /* Começa no meio horizontal */
  width: 55px;
  color: #333;
  cursor: pointer; /* Mantém mãozinha */
}

.shopacesso {
  z-index: 2;
  position: fixed;
  top: 8%;
  left: 65%;
  color: #333;
  font-size: 20px;
  text-decoration: none; /* SEM LINK DE ACESSO */
}

.produtohome {
  position: fixed; /* Fica fixo na tela */
  z-index: 1000; /* Fica na frente de tudo */
  top: 5%;
  left: 40%;
  width: 55px;
  cursor: pointer; /* Mantém mãozinha */
}

.home {
  z-index: 2;
  position: fixed;
  top: 8%;
  left: 45%;
  color: #333;
  font-size: 1.3rem;
  text-decoration: none; /* SEM LINK DE ACESSO */
}
.variedades {
  display: block;
  font-size: 1.5rem; /*tamanho da fontw */
  margin-top: 3px; /*espaço acima */
  opacity: 0.9;
  color: #333;
}

.formulario {
  background-color: pink;
  width: 320px;
  padding: 50px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.input {
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: white !important;
  font-size: 16px;
}
.criarconta {
  margin-top: 10px;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none; /* SEM LINK DE ACESSO */
  background-color: rgb(87, 84, 84) !important;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.criarconta:hover {
  transform: scale(1.1);
}

.logoforms {
  width: 80px;
  mix-blend-mode: multiply;
  display: block;
  margin: 0 auto 10px auto;
  color: #333;
}

.formulario h2 {
  text-align: center;
  margin: 0;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

#erro {
  color: black;
  text-align: center;
  font-size: 20px;
}
